<configuration>
  <sitecore xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <pipelines>
      <GherkinCoreReporting>
        <processor type="GherkinCore.Base.Pipelines.CreateNewHtmlReport, GherkinCore.Base"></processor>
        <processor type="GherkinCore.Base.Pipelines.CreateTestResultMediaItems, GherkinCore.Base"></processor>
      </GherkinCoreReporting>
    </pipelines>
  </sitecore>
</configuration>